[submodule "src/extlibs/Simple-WebSocket-Server"]
	path = src/extlibs/Simple-WebSocket-Server
	url = https://github.com/mcntech/Simple-WebSocket-Server.git
[submodule "src/extlibs/asio"]
	path = src/extlibs/asio
	url = https://github.com/mcntech/asio.git
